#log {

    width: 40%;
    height: 25%;
}

body {


    background-size: 150%;
}

h1 {
    margin-top: 5%;
    margin-left: 35%;
    color: lawngreen;
    font-family: cursive;
}

#prueba {}

/**menu**/

.navegacion {
    background-color: ;
}

nav {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

nav ul {
    list-style: none;
    padding-top: 2px;
}

nav > ul > li {
    float: left;
}

nav ul::after {
    content: '';
    display: block;
    clear: both;
}

nav ul li a {
    display: inline-block;
    width: 200px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    background-color: rgba(61, 67, 69, 0.6);
}

nav ul li a:hover {
    background-color: skyblue;
}

/** Segundo Nivel **/

nav ul ul {
    position: absolute;
    top: 100%;
    background-color: skyblue;
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li:hover {
    background-color: skyblue;
}

/** slider **/

.disfraz {
    background-color: beige;
    border: 3px beige;
    padding: 3px;
    font: 11px, sans-serif;
    width: 20%;
    margin: 10px;
    float: left;
}

.disfraz img {
    border: 3px solid #CCCCCC;
    vertical-align: middle;
    margin-bottom: 3px;
}

#img {
    border-style: solid;
    width: 100px;
    height: 100px;
}

.disfra {
    background-color: beige;
    border: 3px beige;
    padding: 3px;
    font: 11px, sans-serif;
    width: 20%;
    margin: 10px;
    float: left;
}

h2 {
    color: azure;
    text-align: left;
    font-family: sans-serif;
}

.todo {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
}
