body{
    
    background-image: url(rogue.jpeg);
    background-size: 150%;
}
h1{
  margin-top: -5%;
  margin-left: 70%;
  color:white;
  font-family: cursive;
}

.dleft{
    
    width: 20%;
    background-color: red;
    height: 100%;
    padding: 0%;
    margin: 0%;
    border: 0%;
    float:left;
}
.dright{
    width: 20%;
    padding-top: 5%;
    height: 100%;
    margin-right: 0%;
    padding: 0%;
        margin: 0%;
    float:right;
}
.dmid{
    width:60%; 
    float:left;
    padding-top:1%;
    padding-bottom: 0%;   
    padding-left: 0%;
    margin: 0%;     
}
.img{
    width: 1400px;
    height: 500px;
}
h2{
     color: azure;
    text-align: left;
    font-family: sans-serif;
}
#img{
    width: 700px;
    height: 500px;
}
.slider {
    text-align: center;
}
/** Footer**/
h2{
    font-family: cursive;
}
Footer{
    background-size: 100%;
    background-color: rgba(61, 67, 69, 0.6);
 width: 100%;
    float: left;
}
/**Map api**/
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
.mapon{
    padding-left: -10%;;
    width: 300px;
    height: 550px;
}
HEADER{
    padding-top: 2.5%;
    
}
/** Segunda pagina**/
#tematica{
    color: aliceblue;
    text-align: center;
}
.principalpag2{
    margin-left: 5%;
    margin-right: 5%;
}
.style1{
        background-color: rgba(61, 67, 69, 0.6);
		border: 1px solid rgba(61, 67, 69, 0.6); padding: 3px;
		font: 11px, sans-serif; 
        width: 20%;
        margin: 10px;
        float: left;
}
.style1 pag2img1{
        border: 1px solid #CCCCCC;
		vertical-align:middle; 
		margin-bottom: 3px;
}
#pag2img1{
    border-style: solid;
    width: 100px;
    height: 100px;
    
}

