.navegacion {
  background-color: orange;
}
nav {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
nav ul {
  list-style: none;
}
nav > ul > li {
  float: left;
}
nav ul::after {
  content: '';
  display: block;
  clear: both;
}
nav ul li a {
  display: inline-block;
  width: 200px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 20px;
    background-color: orange;
}
nav ul li a:hover {
  background-color: red;
}
/** Segundo Nivel **/
nav ul ul {
  position: absolute;
  top:100%;
  background-color: red;
  display: none;
}
nav ul li:hover > ul {
  display: block;
}
nav ul li:hover  {
  background-color: red;
}


.nuevaclase{
    color:yellow;
    font-size:200px;
}